.whole{
    width: 611px;
    height: 602px;
    margin: auto;
    padding-left: 33px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 4;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 24%;
    left: 35%;
    padding-right: 33px;
    transition: height 0.5s;
}
.taskname{
    outline: 1px solid #dac4fd;
    width: 550px;
    height: 59px;
    border: 1px solid #dac4fd;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.textarea {
    width: 560px;
    height: 255px;
    resize: none;
    outline: 1px solid #dac4fd;
    border: 1px solid #dac4fd;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.formsubmit{
    margin-top: 20px;
    width: 14vh;
    height: 4vh;
    border: none;
    background-color: #dac4fd;
    color: black;
    font-size: 22px;
    border-radius: 8px;
    margin-left: 38vh;
}
label{
    font-size: 20px;
}
.addTask{
    margin-top: 10px;
    margin-bottom: 20px;
}
p{
    font-size: larger;
    color: #989898;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h6{
    margin: 0;
    font-size: 47px;
    font-weight: 100;
}