.buttons{
    width: 300px;
    height: 50px;
    background-color: white;
    color: #8424BC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
/* .buttons:hover{
    color:#8424BC;
    background-color: white;
} */
.red 
{
    color:white;
    background-color: #8424BC;
}
/* .red:hover{
    color:#8424BC;
    background-color: white;
    border: 2px solid #8424BC;
} */
.Buttonwholediv{
    display: flex;
    justify-content: center;
}
.blueviolet{
    background-color: #a289da;
    color: white;
}
@keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
  }
.invalid{
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem #ff0000;
  }.red 
  {
      color:white;
      background-color: #8424BC;
  }